@page
@model Car_Dealership_Razor_Pages.Pages.CarsModel
@{
    ViewData["Title"] = "Premium Deluxe Motorsport";
}

<h1>Premium Deluxe Motorsport by dev-ryan169</h1>
<table class="table">
    <thead>
        <tr><td><h1>Cars avaliable for purchase</h1></td></tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <h1>BMW 325i (Vintage)</h1>
                <br />
                <img src="~/BMW325i.jpg" width="720" alt="BMW325i" />
                <br />
                Perfect Condition 1989 BMW 325i.
                <br />
                A precious jem of our Vintage Car Collection.
                <br />
                Currently listed for sale at
                <h1>156,000 USD</h1>
            </td>
        </tr>

        <tr>
            <td>
                <h1>Mercedes-AMG A 35 4MATIC</h1>
                <br />
                <img src="~/Mercedes-AMG.jpg" width="720" alt="Mercedes-AMG A4" />
                <br />
                Brand new Mercedes-AMG 4 35 with 4MATIC transmission.
                <br />
                One of our top-tier luxuary car series offering comfort, style and performance. 
                <br />
                Currently listed for sale at 
                <h1>356,000 USD</h1>
            </td>
        </tr>

        <tr>
            <td>
                <h1>McLaren P1 (Limited Edition)</h1>
                <br />
                <img src="~/McLarenP1.jpg" width="720" alt="McLarenP1" />
                <br />
                McLarenP1 with fully-carbon chassis.
                <br />
                100% performance oriented with no slack on luxuary.
                <br />
                Currently listed for sale at 
                <h1>1.7 Million USD</h1>
            </td>
        </tr>
        <tr><td>Click here to proceed to <a href="CarDealership"</a>checkout section</td></tr>
    </tbody>
</table>