@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-5">Welcome to Premium Deluxe Motorsport</h1>
    <h1 class="display-5"> by dev-ryan169</h1>
    <h1> <img src="~/Dealership.jpg" alt="Cover Image" width="720" /></h1>
    <p> Car List: <a href="Cars">Click here to view all cars on sale</a></p>
    <p> Checkout: <a href="CarDealership">Click here to checkout</a></p>
</div>
